html{
    overflow-y: scroll;
}
.card {
	display: inline-block;
  
}

body{
    background-image: url("../img/waifu.png") ;

}
footer{
   background-color: white ;
}

#uwu{
    background-color: white;
    margin-top:250px;
}
#ewe{
    display: flex;
     justify-content: center;
     align-items: center;
}