html{
    overflow-y: scroll;
}
.card {
	display: inline-block;
    width: 500px;
  
}

body{
    background-image: url("../img/waifu.png") ;

}
footer{
   background-color: white ;
   margin-top: 50px;
}


#ewe{
    display: flex;
     justify-content: center;
     align-items: center;
}
#ojo{
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    border: red 2px solid;


}
#tabla{
    margin-top: 10px;
    display:flex;
    justify-content: center;
    align-items: center;
}